/* src/Carousel.css */
/* src/Carousel.css */

@import "styles/_mixins";

.carousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 1920px;
    height: fit-content; /* Adjust height as needed */
    margin: auto;
}

.embla {
    overflow: hidden;
    width: 100%;
}
.emblaContainer {
    display: flex;
    width: 100%;
}
.emblaSlide {
    flex: 0 0 100%;
    min-width: 0;
    width: 100%;

    .desktop {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    .mobile {
        display: block;

        @media (min-width: 768px) {
            display: none;
        }
    }
}
