@import "src/app/styles/mixins";

.root {
    .label {
        font-style: normal;
        font-weight: 500;
        text-align: right;
        letter-spacing: -0.001em;
        color: #1d1b21;
        opacity: 0.5;
        font-size: 14px;
        line-height: 20px;
        @include xxl {
            font-size: 16px;
            line-height: 23px;
        }
    }

    .inner {
        .input {
            cursor: pointer;
            border-radius: 4px;

            &:checked {
                background: var(--primary-accent-1);
                border: none;
            }
        }

        svg {
            color: #000 !important;
        }
    }

    .error {
        display: none;
    }
}
