@import "src/app/styles/mixins";

.helpReachOutContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    bottom: -120%;
    transform: translate(0%, -121%);
    @include md {
        display: block;
        position: fixed;
        bottom: -17%;
        left: 50%;
        transform: translate(-50%, -2%);
        z-index: 999;
        min-width: max-content;
    }
    @include md-maxHeight {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        background: rgba(64, 61, 70, 0.33);
        padding: 12px 13px;
        border-radius: 10px;
        margin-top: 4%;
        bottom: -12%;
        > p {
            margin-right: 6px;
        }
    }

    > p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.001em;
        color: var(--learn-purple-1);
        opacity: 0.8;
        text-align: center;
        @include md {
            color: var(--learn-purple-2);
        }
        @include xxl {
            font-size: 16px;
            line-height: 23px;
        }
    }

    > div {
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 8px 13px;
        background: none;
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.001em;
        color: var(--learn-purple-1);
        text-align: center;
        // max-width: 70%;
        align-self: center;
        @include md {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.001em;
            color: #444;
            background: rgba(64, 61, 70, 0.33);
            color: var(--learn-purple-2);
            padding: 12px 13px;
            font-size: 16px;
            line-height: 23px;
            margin-top: 4%;
        }

        @include xxl {
            font-size: 16px;
            line-height: 23px;
        }
        @include md-maxHeight {
            background: transparent;
            padding: 0 0 0 3px;
            margin-top: 0;
        }

        > a {
            text-decoration: underline;
            margin: 0px 4px;
            cursor: pointer;
        }
    }
}
