@import "../../styles/mixins";

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    border-radius: 8px;
    width: fit-content;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    max-width: 570px;
    border-radius: 30px;
    overflow: hidden;
    width: 300px;

    @include sm {
        transform: scale(1);
        width: 100%;
    }
}

.modalBody {
    width: fit-content;
    max-width: 570px;
    overflow: hidden;

    .heading {
        font-weight: 600;
        color: #1d1b21;
        line-height: 50px;
        margin: auto;
        padding: 6px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 18px;
        padding-left: 50px;

        @include sm {
            justify-content: center;
            font-size: 24px;
            padding-left: 0px;
        }
    }
}

.imageContainer {
    height: 172px;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;

    > img {
        width: fit-content;
    }

    .lockWrapper {
        position: absolute;
        z-index: 2000;
        top: 45px;
        margin-left: 115px;
        padding: 28px;
        background-color: #d7f850;
        border-radius: 50%;

        @include sm {
            margin-left: 0px;
            left: calc(50% - 35px);
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
