@import "src/app/styles/mixins";
// 
//blue -> #09c
// 
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins, ExtraLight !important;
    font-size: large;
    padding: 0px;
    margin: 0px;
    .section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 90%;
        color: var(--primary-dark-3);
        min-height: 90vh;
        // background-image: linear-gradient(to bottom , #09c,#fff);
        margin: 0px;
        > div {
            width: 100%;
            @include lg {
                width: 50%;
                >p {
                    width: 80%;
                }
            }
        }
        .div2 {
            color: var(--primary-dark-3);
            text-align: start;
            width: 100%;
            >h6 {
                font-size: 1rem;
                margin: 0px;

            }
            >h1 {
                font-size: 4rem;
                color: #09c;
                margin: 0px;
                // font-family: var(--font-patro);
            }
            > p {
                padding-top: 10px;
                margin: 0px;
                // padding: 0%;
            }
            >button {
                margin-top: 5rem;
                background: #09c; 
                border-radius: 0px;
                color: #fff;
                padding: 0px 25px;
            } 
            @include lg {
                width: 60%;
            }
        }

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .section2 {
        background-color: #09c;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding-top: 20px;
        padding-bottom: 8rem;
        > div {
            width: 90%;
            color: #fff;
            font-weight: 200;
            font-size: 4.8rem;
        }
        @include lg {
            text-wrap: nowrap;
        }
    }

 
}
