@import "../../styles/mixins";

.profileBtn {
    background-color: var(--primary-dark-3);
    color: var(--primary-dark-1);
    // border-radius: 50px;
    overflow: hidden;
    border: none;
    transform: scale(1);
    transition: background-color 0.2s ease-out, transform 0.2s ease-in-out;
    height: 42px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 2rem;
    font-weight: 600;
    line-height: 1;
    font-size: 0.875rem;
    cursor: pointer;
    user-select: none;
    font-family: var(--font-inter);
    z-index: 10;
    &:disabled {
        background-color: var(--learn-purple-2) !important;
        color: #838f97 !important;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--primary-accent-1);
        z-index: 0;
        // border-radius: 50px;
        transition: width 0.2s ease-out;
    }

    &.primary {
        background-color: var(--primary-dark-1);
        color: var(--neutral-white);
    }

    &.secondary {
        background-color: yellow;
    }

    &:active {
        transform: scale(0.95);
        transition: transform 0.15s linear;
    }

    @include md {
        &:hover {
            transition: background-color 0.2s ease-out 0.2s,
                transform 0.2s ease-in-out;
            color: var(--primary-dark-1);
            background-color: transparent;

            &::before {
                width: 100%;
            }
        }
        &:active {
            transform: none;
        }
    }

    & span {
        font-family: var(--font-inter);
        position: relative;
    }
}

.profileDropdownMenu {
    border-radius: 22px;
    padding: 10px;
    max-height: 80vh;
    overflow: auto;
    min-width: 150px;

    .profileDropdownMenuItemContainer {
        padding: 12px 8px;
        border-radius: 10px;
        transition: 0.1s all ease-in-out;

        &:hover {
            background-color: rgba(203, 251, 98, 0.2);
        }

        .profileDropdownMenuItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
