@import "styles/_mixins.scss";

.exclusiveBenefits {
    text-align: center;
    padding: 40px;
    background-color: #f5faff;
    max-width: 1170px;
    margin: 0 auto;
    h2 {
        font-size: 2rem;
        line-height: 2.2rem;
        color: #074764;
    }

    p {
        margin-top: 12px;
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: #455a64;
    }
}

.benefitsGrid {
    background-color: #f5faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }
}

.benefit {
    padding: 20px;
    border-radius: 8px;
    @include md {
        width: 30%;
    }
}

.benefitIcon {
    width: 80px;
    height: 80px;
    @include md {
        width: 60px;
        height: 60px;
    }
}

.getStartedBtn {
    color: #ffffff;
    background-color: #0099cc;
    font-size: 18px;
    line-height: 25.7px;
    text-align: center;
    padding: 6px 62px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ffffff;
    max-width: 270px;
    margin: 12px auto;
}
