@import "../../styles/mixins";

.container {
    background-color: transparent;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
    overflow-x: auto;
    padding: 24px 14px 0 14px;
    @include hideScrollbar();
    @include md {
        padding: 0;
        background-color: white;
        overflow-x: unset;
    }
    @include lg {
        display: flex;
        padding: 8px 36px;
        border-radius: 72px;
        border: 1px solid var(--border-1);
        margin-top: 20px;
    }

    :global(.mantine-Select-dropdown) {
        border-radius: 16px;
        min-width: fit-content;
    }

    .domainCategoryContainer {
        border-right: 3px solid #e1e1e1;
        margin-right: 16px;
        padding-right: 8px;
        min-width: fit-content;
        border-radius: 0px !important;

        .domainCategory {
            border-right: none;
            background: white;
            border-radius: 72px;
            margin-right: 10px;
            min-width: 200px;
            @include md {
                margin-right: 16px;
                background-color: unset;
                border-radius: unset;
                min-width: unset;
            }

            &.optionSelected {
                input {
                    background-color: var(--primary-accent-1) !important;
                    padding: 8px 18px;
                    color: var(--learn-purple-3);
                }
            }

            input {
                background-color: var(--primary-accent-1);
                border: none !important;
                font-size: 16px;
                height: 32px;
                padding: 0px 16px;
                // min-width: 250px;
                @include md {
                    border-radius: 10px;
                    height: unset !important;
                }

                &:focus {
                    box-shadow: none !important;
                }

                &::placeholder {
                    font-size: 16px;
                    line-height: 23px !important;
                    color: var(--learn-purple-3) !important;
                    font-family: var(--font-inter) !important;
                    font-weight: 500 !important;
                }
            }
        }
    }

    .moreOptions {
        // display: none;
        border-right: none;
        max-width: 204px;
        background: white;
        border-radius: 72px;
        min-width: fit-content;
        @include md {
            background-color: unset;
            border-radius: unset;
        }

        :global(.mantine-Select-dropdown) {
            @include mobile {
                left: unset !important;
                right: 20px !important;
            }
        }

        input {
            background: #ffffff00;
            border: none !important;
            font-size: 16px;
            width: 110px !important;
            height: 32px;

            &:focus {
                box-shadow: none !important;
            }

            @include md {
                height: unset !important;
            }

            &::placeholder {
                font-size: 16px;
                line-height: 23px !important;
                color: var(--learn-purple-3) !important;
                font-family: var(--font-inter) !important;
                font-weight: 500 !important;
            }
        }

        @include md {
            display: flex;
        }
    }

    .domainsWrapper {
        display: flex;
        align-items: center;
        flex: 1 1 500px;
        justify-content: space-evenly;
        @include md {
            overflow: auto;
        }
        .subDomainItem {
            font-family: var(--font-inter);
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: var(--learn-purple-3);
            border: none;
            background-color: white;
            padding: 5px 14px;
            z-index: 0;
            white-space: nowrap;
            border-radius: 72px;
            transition: background 0.24s linear;
            margin-right: 7px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;

            @include md {
                padding: 12px;
                margin-right: 0;
                border-radius: 10px;
                font-size: 16px;
                line-height: 23px;
                &:hover {
                    transition: background 0.24s linear;
                    cursor: pointer;
                    background: rgba(203, 251, 98, 0.35);
                }
            }
            @include md-maxHeight {
                font-size: 14px;
                line-height: 23px;
            }
        }

        .selected {
            background-color: var(--primary-accent-1) !important;
            border-radius: 72px;
            z-index: 2;
            @include md {
                border-radius: 10px;
            }
        }

        input {
            color: var(--learn-purple-3);
        }
    }
}
