@import "src/app/styles/mixins";

.card {
    position: relative;
    width: 295px;
    background: #edf0f1;
    border-radius: 20px;
    padding: 20px 16px 16px;
    flex-shrink: 0;
    overflow: hidden;
    //min-height: 386px;

    @include lg {
        //min-height: 416px;
        padding: 30px 16px;
        flex-shrink: unset;
        width: calc(50% - 5px);
        max-width: 588px;
        margin-right: 10px;
        padding: 0 18px 28px;
        // min-height: 390px;
    }

    @include hdplus {
        //min-height: 386px;
    }

    &:first-child {
        margin-left: 16px;

        @include lg {
            margin-left: 0;
        }
    }

    &:last-child {
        margin-right: 16px;

        @include lg {
            margin-right: 0;
        }
    }

    .head {
        color: #1d1b21;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px; /* 131.25% */
        letter-spacing: 0.032px;
        padding: 0 0 12px 0;
        display: flex;
        align-items: center;
        @include lg {
            font-size: 25px;
            padding: 23px 0 17px 0;
        }

        .levelPill {
            border-radius: 35.854px;
            background: #d1d0d8;
            margin-right: 0;
            margin-left: 10px;

            > span {
                color: var(--learn-purple-3);
                font-family: var(--font-inter);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px; /* 143.75% */
                letter-spacing: -0.016px;
                text-transform: capitalize;
            }
        }
    }

    .tabs {
        display: none;

        @include lg {
            display: inline-flex;
            flex-direction: row;
            font-weight: 500;
            gap: 3px;
            border: 1px solid #d9d6de;
            border-radius: 12px;
            justify-content: center;
            padding: 4px;

            .tab {
                padding: 10px 13px;
                background-color: #e8e4ec;
                border-radius: 9px;
                color: var(--learn-purple-1);
            }

            button:nth-child(1) {
                background-color: var(--neutral-white);
                color: var(--learn-purple-3);
            }
        }
    }

    .rangeContainer {
        width: 100%;
        // height: "fit-content";
        display: flex;
        flex-direction: column;
        // justify-content: baseline;
        // align-items: center;

        @include lg {
            // align-items: flex-end;
        }

        .rangeGraph {
            height: "fit-content";
            width: 100%;
            position: relative;
            margin-top: 8px;
        }

        .descParent {
            display: flex;
            // gap: 30px;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding: 0;

            @include lg {
                flex-direction: row;
                gap: initial;
                position: relative;
                padding: 0;
                margin-top: 10px;
            }

            .description {
                width: 100%;
                display: flex;
                flex-direction: column;

                @include lg {
                    width: 100%;
                    padding-left: 7px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding-right: 10px;
                }

                p {
                    color: #a198ac;
                    font-size: 14px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: -0.014px;

                    @include lg {
                        padding-top: 13px;
                        width: 100%;
                        font-size: 16px;
                        line-height: 25px;
                        /* 156.25% */
                        letter-spacing: -0.016px;
                    }
                }
            }
        }

        .rangeText {
            font-weight: 700;
            color: var(--learn-purple-3, #50495a);
            font-size: 34.252px;
            font-style: normal;
            line-height: 34.913px;
            /* 128.205% */
            letter-spacing: 0.069px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include lg {
                font-size: 27.519px;
                line-height: 33.939px;
                /* 116.667% */
                letter-spacing: 0.134px;
                padding-top: 5px;
                padding-bottom: initial;
            }

            .annual {
                text-align: center;
                color: var(--learn-purple-1, #a198ac);
                font-style: normal;
                font-weight: 500;
                font-size: 17.565px;
                line-height: 27.226px;
                /* 155% */
                letter-spacing: -0.105px;

                @include lg {
                    font-size: 18.151px;
                    line-height: 28.361px;
                    /* 156.25% */
                    letter-spacing: -0.018px;
                }
            }
        }
    }

    img {
        width: unset;
        height: unset;
        object-fit: cover;
    }

    button {
        border: none;
        cursor: pointer;
    }
}
